<!-- ARTICAL BAR START -->
<picture class="article-bar-img">
  <source
    srcset="
      ./img/article-bar/article-bar-desktop@1x.jpg 1x,
      ./img/article-bar/article-bar-desktop@2x.jpg 2x
    "
    media="(min-width: 1440px)"
    type="image/jpeg"
    width="444"
    height="242"
  />
  <source
    srcset="
      ./img/article-bar/article-bar-tablet@1x.jpg 1x,
      ./img/article-bar/article-bar-tablet@2x.jpg 2x
    "
    media="(min-width: 768px)"
    type="image/jpeg"
    height="288"
    width="249"
  />
  <source
    srcset="
      ./img/article-bar/article-bar-mobile@1x.jpg 1x,
      ./img/article-bar/article-bar-mobile@2x.jpg 2x
    "
    media="(max-width: 767px)"
    type="image/jpeg"
    height="242"
    width="335"
  />
  <img
    src="./img/article-bar/article-bar-desktop@1x.jpg"
    alt="Two women drink water"
    width="444"
    height="242"
  />
</picture>
<!-- ARTICAL BAR END -->
