<!-- ARTICAL BAR START -->
<picture class="article-bar-img">
  <source
    srcset="
      ./img/article-bar/article-bar-desktop@1x.jpg 1x,
      ./img/article-bar/article-bar-desktop@2x.jpg 2x
    "
    media="(min-width: 1440px)"
    type="image/jpeg"
    width="444"
    height="242"
  />
  <source
    srcset="
      ./img/article-bar/article-bar-tablet@1x.jpg 1x,
      ./img/article-bar/article-bar-tablet@2x.jpg 2x
    "
    media="(min-width: 768px)"
    type="image/jpeg"
    height="288"
    width="249"
  />
  <source
    srcset="
      ./img/article-bar/article-bar-mobile@1x.jpg 1x,
      ./img/article-bar/article-bar-mobile@2x.jpg 2x
    "
    media="(max-width: 767px)"
    type="image/jpeg"
    height="335"
    width="242"
  />
  <img
    src="./img/article-bar/article-bar-desktop@1x.jpg"
    alt="Two women drink water"
    width="444"
    height="242"
  />
</picture>

<article class="article-bar-info">
  <div class="article-bar-info-icon">
    <svg width="18" height="20">
      <use href="./img/icons.svg#icon-qwe"></use>
    </svg>
  </div>
  <div class="article-bar-info-content">
    <div class="article-bar-info-header">
      <strong class="article-bar-info-title">Quote of the day</strong>
    </div>
    <p class="article-bar-info-desc">
      A lot of times I find that people who are blessed with the most talent
      don't ever develop that attitude, and the ones who aren't blessed in that
      way are the most competitive and have the biggest heart.
    </p>
    <strong class="article-bar-info-author">Tom Brady</strong>
  </div>
</article>
<!-- ARTICAL BAR END -->
