<!-- ARTICAL BAR START -->
<picture class="article-bar-img">
  <source
    srcset="
      ./img/article-bar/article-bar-desktop@1x.jpg 1x,
      ./img/article-bar/article-bar-desktop@2x.jpg 2x
    "
    media="(min-width: 1440px)"
    type="image/jpeg"
    width="444"
    height="242"
  />
  <source
    srcset="
      ./img/article-bar/article-bar-tablet@1x.jpg 1x,
      ./img/article-bar/article-bar-tablet@2x.jpg 2x
    "
    media="(min-width: 768px)"
    type="image/jpeg"
    height="288"
    width="249"
  />
  <source
    srcset="
      ./img/article-bar/article-bar-mobile@1x.jpg 1x,
      ./img/article-bar/article-bar-mobile@2x.jpg 2x
    "
    media="(max-width: 767px)"
    type="image/jpeg"
    height="335"
    width="242"
  />
  <img
    src="./img/article-bar/article-bar-desktop@1x.jpg"
    alt="Two women drink water"
    width="444"
    height="242"
  />
</picture>

<article class="article-bar-info">
  <div class="article-bar-info-icon">
    <svg width="20" height="20">
      <use href="./img/icons.svg#icon-dailynorm"></use>
    </svg>
  </div>
  <div class="article-bar-info-content">
    <strong class="article-bar-info-title">110 min</strong>
    <p class="article-bar-info-subtitle">Daily norm of sports</p>
    <p class="article-bar-info-desc">
      The World Health Organization recommends at least 150 minutes of
      moderate-intensity aerobic physical activity throughout the week for
      adults aged 18-64. However, what happens if we adjust that number to 110
      minutes every day? While it might seem like a high number to hit,
      dedicating 110 minutes daily to sporting activities may offer unparalleled
      benefits to physical health, mental well-being, and overall quality of
      life.
    </p>
  </div>
</article>
<!-- ARTICAL BAR END -->
