<!-- FAVORITE ARTICAL BAR START -->
<picture class="article-bar-img">
  <source
    srcset="
      ./img/article-bar/favorite-article-bar-desktop@1x.jpg 1x,
      ./img/article-bar/favorite-article-bar-desktop@2x.jpg 2x
    "
    media="(min-width: 1440px)"
    type="image/jpeg"
    width="239"
    height="141"
  />
  <source
    srcset="
      ./img/article-bar/favorite-article-bar-tablet@1x.jpg 1x,
      ./img/article-bar/favorite-article-bar-tablet@2x.jpg 2x
    "
    media="(min-width: 768px)"
    type="image/jpeg"
    height="141"
    width="344"
  />
  <source
    srcset="
      ./img/article-bar/favorite-article-bar-mobile@1x.jpg 1x,
      ./img/article-bar/favorite-article-bar-mobile@2x.jpg 2x
    "
    media="(max-width: 767px)"
    type="image/jpeg"
    height="119"
    width="335"
  />
  <img
    src="./img/article-bar/favorite-article-bar-desktop@1x.jpg"
    alt="Two sport women"
    width="335"
    height="119"
  />
</picture>
<!-- FAVORITE ARTICAL BAR END -->
