<div class="container filters-container">
  <div class="filters-header">
    <h2 class="filter-title">Exercises</h2>
    <ul class="filter-button-list">
      <li class="filter-item">
        <button class="filter-button filter-button-active">Muscles</button>
      </li>
      <li class="filter-item">
        <button class="filter-button">Body parts</button>
      </li>
      <li class="filter-item">
        <button class="filter-button">Equipment</button>
      </li>
    </ul>
  </div>
  <ul class="filter-results"></ul>
  <ul class="filter-pagination"></ul>
</div>

<script type="module" src="./js/filters.js"></script>
