<footer class="footer">
  <div class="container" id="footer">
    <div class="footer-blocks">
      <div class="footer-logo-soial">
        <div class="footer-logo">
          <a class="footer-logo-link" href="index.html">
            <svg class="logo-icon-footer">
              <use href="./img/main-logo.svg#main-logo"></use>
            </svg>
          </a>
        </div>
        <div class="footer-social-menu">
          <ul class="social-menu-ul">
            <li class="social-item">
              <a
                class="social-link-li"
                href="https://www.facebook.com/goITclub/"
                aria-label="Go to our Facebook page"
                target="_blank"
              >
                <svg class="social-icon-li" width="28" height="28">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link-li"
                href="https://www.instagram.com/goitclub/"
                aria-label="Go to our Instagram page"
                target="_blank"
              >
                <svg class="social-icon-li" width="28" height="28">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link-li"
                href="https://www.youtube.com/c/GoIT"
                aria-label="Go to our Youtube page"
                target="_blank"
              >
                <svg class="social-icon-li" width="28" height="28">
                  <use href="./img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-text-subs">
        <div class="footer-text">
          <p class="text-footer">
            Transforming your <span class="text-footer-word">body</span> shape
            with us
          </p>
        </div>
        <div class="footer-subscribe-form">
          <form
            class="subscribe-form"
            name="subscription"
            id="subscriptionForm"
            onsubmit="return validateForm(event)"
          >
            >
            <label class="subscribe-label" for="E-mail">
              Subscribe and learn about new exercises!
              <input
                class="e-mail-input"
                type="email"
                id="E-mail"
                name="E-mail"
                placeholder="E-mail"
                pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
                required
              />
            </label>
            <div class="footer-subscribe-button">
              <button class="subscribe-button" type="submit">
                <span class="subscribe-button-text">Send</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-agreements">
      <div class="footer-copy-policy">
        <p class="footer-copy-paragraphs-rights">
          Your Energy. All rights reserved.
        </p>
        <ul class="footer-policy-list">
          <li class="footer-policy-item">
            <a class="footer-policy-link" href="#">Privacy Policy</a>
          </li>
          <li class="footer-policy-item">
            <a class="footer-policy-link" href="#"
              ><span class="footer-policy-separator">/</span>Terms of Service</a
            >
          </li>
        </ul>
      </div>
      <p class="footer-copy-paragraphs-year">©2023</p>
    </div>
  </div>
</footer>
