<!-- HERO START -->
<div class="hero">
  <div class="container">
    <div class="hero-inner">
      <div>
        <h1 class="hero-title">
          <svg class="hero-icon" width="59" height="59">
            <use xlink:href="./img/icons.svg#icon-sun"></use>
          </svg>

          Get <em>Body</em> in<br />
          shape, Stay healthy
        </h1>
        <p class="hero-desc">
          Transform your physique and embrace a healthier lifestyle with our
          comprehensive fitness and nutrition support.
        </p>
      </div>
      <div class="hero-right">
        <picture>
          <source
            srcset="./img/hero/yoga@1x.jpg 1x, ./img/hero/yoga@2x.jpg 2x"
            media="(min-width: 1440px)"
          />
          <img src="" alt="Yoga" width="168" height="100" class="hero-promo" />
        </picture>
        <ul class="hero-tags hero-tags-desktop">
          <li>#Sport</li>
          <li>#Healthy</li>
          <li>#Workout</li>
          <li>#Diet</li>
        </ul>
      </div>
    </div>
    <div class="hero-img">
      <picture>
        <source
          srcset="
            ./img/hero/hero-desktop@1x.jpg 1x,
            ./img/hero/hero-desktop@2x.jpg 2x
          "
          media="(min-width: 1440px)"
          type="image/jpeg"
          width="1376"
          height="350"
        />
        <source
          srcset="
            ./img/hero/hero-tablet@1x.jpg 1x,
            ./img/hero/hero-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
          height="550"
          width="704"
        />
        <source
          srcset="
            ./img/hero/hero-mobile@1x.jpg 1x,
            ./img/hero/hero-mobile@2x.jpg 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
          height="460"
          width="335"
        />
        <img
          src="./img/hero/hero-desktop@1x.jpg"
          alt="Yoga with two women"
          width="1376"
          height="350"
        />
      </picture>
    </div>
    <ul class="hero-tags hero-tags-mobile">
      <li>#Sport</li>
      <li>#Healthy</li>
      <li>#Workout</li>
      <li>#Diet</li>
    </ul>
  </div>
</div>
<!-- HERO END -->
