<!-- INFO START -->
<article class="info">
  <div class="info-icon">
    <svg width="34" height="32">
      <use href="./img/icons.svg#icon-dailynorm"></use>
    </svg>
  </div>
  <div class="info-content">
    <strong class="info-title">110 min</strong>
    <p class="info-subtitle">Daily norm of sports</p>
    <p class="info-desc">
      The World Health Organization recommends at least 150 minutes of
      moderate-intensity aerobic physical activity throughout the week for
      adults aged 18-64. However, what happens if we adjust that number to 110
      minutes every day? While it might seem like a high number to hit,
      dedicating 110 minutes daily to sporting activities may offer unparalleled
      benefits to physical health, mental well-being, and overall quality of
      life.
    </p>
  </div>
</article>
<!-- INFO END -->
