<button data-modal-open>modal</button>
<div class="backdrop hidden" data-modal>
  <div class="modal">
    <button class="btn-modal-close" data-modal-close>
      <svg class="icon icon-modal-close">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <img src="#" alt="Exercise demostration gif" class="img-modal-exercise" />
    <div class="modal-info">
      <p class="title-modal"></p>
      <div class="rating divider">
        <span class="rating-value"></span>
        <div class="rating-stars">
          <svg class="icon icon-modal-star" width="18" height="18">
            <use href="./img/icons.svg#icon-star"></use>
          </svg>
          <svg class="icon icon-modal-star" width="18" height="18">
            <use href="./img/icons.svg#icon-star"></use>
          </svg>
          <svg class="icon icon-modal-star" width="18" height="18">
            <use href="./img/icons.svg#icon-star"></use>
          </svg>
          <svg class="icon icon-modal-star" width="18" height="18">
            <use href="./img/icons.svg#icon-star"></use>
          </svg>
          <svg class="icon icon-modal-star" width="18" height="18">
            <use href="./img/icons.svg#icon-star"></use>
          </svg>
        </div>
      </div>
      <div class="stats divider">
        <ul class="stats-list"></ul>
      </div>
      <div class="description"><p class="desc-text"></p></div>
      <button class="btn-modal-add-fav">
        <span class="btn-fav-text">Add to favorites</span>
        <svg class="icon icon-fav-btn" width="18" height="18">
          <use class="icon-fav-btn-use" href="./img/icons.svg#icon-heart"></use>
        </svg>
      </button>
    </div>
  </div>
</div>

<script type="module" src="./js/modal.js"></script>
