<!-- QUOTE START -->
<blockquote class="quote">
  <div class="quote-icon">
    <svg width="18" height="20">
      <use href="./img/icons.svg#icon-run"></use>
    </svg>
  </div>
  <div class="quote-content">
    <div class="quote-header">
      <strong class="quote-title">Quote of the day</strong>
      <svg class="quote-decor" width="24" height="24">
        <use href="./img/icons.svg#icon-quote"></use>
      </svg>
    </div>
    <p class="quote-desc skeleton"></p>
    <span class="quote-author skeleton"></span>
  </div>
</blockquote>
<!-- QUOTE END -->
