<!-- QUOTE START -->
<blockquote class="quote">
  <div class="quote-icon">
    <svg width="18" height="20">
      <use href="./img/icons.svg#icon-run"></use>
    </svg>
  </div>
  <div class="quote-content">
    <div class="quote-header">
      <strong class="quote-title">Quote of the day</strong>
      <svg class="quote-decor" width="24" height="24">
        <use href="./img/icons.svg#icon-quote"></use>
      </svg>
    </div>
    <p class="quote-desc skeleton">
      A lot of times I find that people who are blessed with the most talent
      don't ever develop that attitude, and the ones who aren't blessed in that
      way are the most competitive and have the biggest heart.
    </p>
    <strong class="quote-author skeleton">Tom Brady</strong>
  </div>
</blockquote>
<!-- QUOTE END -->
