.article-bar {
  max-width: 444px;
}

@media (min-width: 768px) {
  .article-bar {
    display: grid;
    column-gap: 16px;
    row-gap: 32px;
    grid-template-columns: 400px 288px;
    grid-template-rows: auto auto;
    grid-template-areas:
      'box1 box2'
      'box3 box3';
  }
}

@media screen and (min-width: 1440px) {
  .article-bar {
    display: block;
  }
}

.article-bar-img {
  display: block;
  border-radius: 20px;
  margin-top: 20px;
  overflow: hidden;

  grid-area: box2;
}

@media (min-width: 768px) {
  .article-bar-img {
    margin-top: 0;
    align-self: start;
  }
}

@media screen and (min-width: 1440px) {
  .article-bar-img {
    margin-top: 32px;
  }
}

.article-bar-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
