.main-title {
  color: rgb(36, 36, 36);
  font-family: DM Sans;
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: -2%;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 100px;
}

.favorite-article-bar {
  order: 1;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 40px;
}

.no-favorites-message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
  padding: 40px 20px 20px 20px;
  font-size: 16px;
  color: rgb(36, 36, 36);
  height: auto;
}

.exercises-container {
  max-height: calc(3 * 150px + 45px);
  overflow-y: auto;
  padding-right: 16px;
  margin-right: -16px;
  box-sizing: content-box;
}

.exercises-list {
  padding-right: 16px;
}

.exercises-list > .exercise-card {
  flex: 1 1 calc((100% - 40px) / 2);
}


.exercise-card {
  max-width: 335px;
  height: 141px;
}


/* Tablet */
@media (min-width: 768px) {
  .exercise-card {
    max-width: 344px;
    height: 141px;
  }

  .gallery {
    padding-top: 64px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .gallery {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
}

@media (min-width: 1440px) {
  .favorite-article-bar {
    order: unset;
  }

  .exercise-card {
    max-width: 405px;
    height: 141px;
  }

  .gallery {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding-top: 0px;
  }
}