.main-title {
  color: rgb(36, 36, 36);
  font-family: DM Sans;
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: -2%;
  text-align: left;
  margin-bottom: 20px;
}

.exercises-list {
  grid-row: 1;
}

#favorites-container {
  max-height: 200px; 
  overflow-y: auto; 
  overflow-x: hidden; 
  /* padding-right: 10px;  */
}

#favorites-container::-webkit-scrollbar {
  width: 8px;
}

#favorites-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}


.exercises-cards-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.exercises-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .main-title {
    font-size: 44px;
    line-height: 1.09;
    letter-spacing: -0.02em;
  }

  .exercises-cards-wrapper {
    grid-template-columns: 1fr;
  }

  .exercises-list {
    display: grid;
    gap: 32px 15px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1440px) {
  .exercises-cards-wrapper {
    grid-template-columns: 444px 1fr;
    grid-template-rows: repeat(4, 242px);
    gap: 32px;
  }

  .exercises-list {
    grid-column: 2;
  }

}