/* For mobile devices */
.filters-container {
  margin-top: 40px;
}

.filter-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.35;
  letter-spacing: -0.02em;

  .filter-subtitle {
    opacity: 0;
    visibility: hidden;
    transition: all var(--tran-fast);
  }

  .filter-subtitle.visible {
    opacity: 1;
    visibility: visible;
  }

  .filter-title-category {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.4px;
    color: var(--title-secondary-color);
    text-transform: capitalize;
  }
}

.filters-wrapper {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

#search-form {
  transition: all var(--tran-fast);
  opacity: 0;
  visibility: hidden;
}

#search-form.visible {
  opacity: 1;
  visibility: visible;
}

.search-wrapper {
  position: relative;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.search-input {
  padding: 12px 14px;
  padding-right: 56px;
  border-radius: 30px;
  border: 1px solid #242424;
  background: inherit;
  font-size: 16px;
  width: 100%;
}

.button-search, .button-clear {
  background: inherit;
  display: flex;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
}

.button-clear {
  visibility: hidden;
  right: 38px;
}

.filter-button-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.filter-button {
  /* reset style for button so it's simple text */
  background: none;
  border: 0px;
  padding: 0;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
}

.filter-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 8px;
  margin-bottom: 80px;
}

.filters-pagination-button {
  /* reset style for button so it's simple text */
  background: none;
  border: 0px;
  padding: 0;
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.04em;
  color: var(--gray-color);
}

.filters-pagination-button-active {
  width: 31px;
  height: 31px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 50%;
}

.filter-item {
  display: inline-block;
  position: relative;
  padding-bottom: 8px;
}

.filter-button-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: var(--primary-color);
  border-radius: 2px;
}

.filter-item {
  display: flex;
}

/* For tablets */
@media (min-width: 768px) and (max-width: 1439px) {
  .filters-header {
    display: flex;
  }
  .filters-container {
    margin-top: 64px;
  }

  .filters-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    height: 44px;
  }

  .search-input {
    width: 273px;
  }

  .filters-wrapper {
    margin-left: auto;
  }

  .filter-title {
    font-size: 44px;
    line-height: 1.09;

    .filter-title-category {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .filter-button {
    font-size: 16px;
    line-height: 1.5;
  }

  .filter-pagination {
    margin-bottom: 64px;
  }

  .filters-pagination-button {
    font-size: 24px;
    line-height: 1.33;
  }

  .filters-pagination-button-active {
    width: 32px;
    height: 32px;
  }
}

/* For desktop */
@media (min-width: 1440px) {
  .filters-container {
    margin-top: 64px;
  }

  .filters-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .filter-title {
    font-size: 44px;
    line-height: 1.09;
  }

  .filters-wrapper {
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    gap: 30px;
  }

  .search-input {
    width: 273px;
  }

  .filter-button {
    font-size: 16px;
    line-height: 1.5;
  }

  .filter-pagination {
    margin-top: 32px;
    margin-bottom: 132px;
  }

  .filters-pagination-button {
    font-size: 24px;
    line-height: 1.33;
  }

  .filters-pagination-button-active {
    width: 32px;
    height: 32px;
  }
}
