.footer {
  padding: 40px 0 10px 0;
  background-color: var(--primary-color);
}

.footer-container {
  margin: 0 auto;
}

.footer-blocks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-logo-soial {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 40px;
}

.logo-icon-footer {
  width: 132px;
  height: 24px;
  flex-shrink: 0;
  fill: var(--white-color);
}

.footer-social-menu {
  display: flex;
  margin-top: 32px;
}

.social-menu-ul {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.social-link-li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  color: var(--white-color);
  background-color: transparent;
}
.social-link-li:hover,
.social-link-li:focus {
  background-color: var(--white-color);
  color: var(--primary-color);
}
.social-icon-li {
  fill: currentColor;
  opacity: 0.8;
}

.footer-text {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  margin-bottom: 20px;
}

.text-footer {
  color: var(--white-color);
  font-family: inherit;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.15789;
  letter-spacing: -0.76px;
}

.text-footer-word {
  font-style: italic;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
}

.subscribe-label {
  display: flex;
  flex-direction: column;
  color: var(--white-color);
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28571;
}

.e-mail-input {
  width: 335px;
  height: 42px;
  border-radius: 30px;
  border: 1px solid var(--white-color);
  background-color: var(--primary-color);
  color: var(--color-white-background);
  font-family: inherit;
  font-size: 14px;
  line-height: 1.28571;
  padding: 0 14px;
  margin-top: 20px;
}

.subscribe-button {
  width: 335px;
  height: 42px;
  border-radius: 30px;
  background-color: var(--white-color);
  color: var(--primary-color);
  border: none;
  margin-top: 20px;
}

.subscribe-button-text {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28571;
}
.subscribe-button:hover,
.subscribe-button:focus {
  color: var(--white-color);
  border: 1px solid var(--white-color);
  background-color: var(--primary-color);
}
.footer-agreements {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 120px;
}

.footer-copy-policy {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-copy-paragraphs-rights {
  color: #c6cdd1;
  font-family: var(--primary-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28571;
  letter-spacing: -0.28px;
  opacity: 0.9;
  margin: 0;
}

.footer-copy-paragraphs-year {
  color: #c6cdd1;
  font-family: var(--primary-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28571;
  letter-spacing: -0.28px;
  opacity: 0.9;
  margin: 0;
}

.footer-policy-list {
  display: flex;
}

.footer-policy-link {
  color: #c6cdd1;
  font-family: var(--primary-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28571;
  letter-spacing: -0.28px;
  text-decoration: none;
  transition: color 250ms var(--common-transition);
}

.footer-policy-link:hover,
.footer-policy-link:focus {
  color: var(--white-color);
}

.footer-policy-separator {
  color: rgba(255, 255, 255, 0.6);
  text-align: right;
  font-family: var(--primary-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28571;
  letter-spacing: -0.28px;
  text-decoration: none;
  margin-left: 8px;
  margin-right: 8px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 64px 0 6px 0;
  }

  .footer-blocks {
    flex-direction: row;
  }
  .footer-text-subs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 115px;
  }

  .footer-logo-soial {
    padding-bottom: 0;
  }

  .footer-text {
    margin-bottom: 32px;
    margin-right: 32px;
  }

  .text-footer {
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: -1.12px;
  }

  .subscribe-label {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33333;
    letter-spacing: normal;
  }

  .e-mail-input {
    width: 352px;
    height: 48px;

    font-size: 16px;
    line-height: 1.5;
  }

  .subscribe-button {
    width: 352px;
    height: 48px;
  }

  .subscribe-button-text {
    font-size: 16px;
    line-height: 1.5;
  }

  .footer-agreements {
    align-items: center;
    justify-content: flex-start;
    padding-top: 64px;
  }
  .footer-copy-policy {
    flex-direction: row;
    align-items: center;
    gap: 0;
  }

  .footer-policy-list {
    margin-right: 178px;
    margin-left: 78px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding: 64px 0 16px 0;
  }

  .footer-text-subs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 158px;
  }

  .footer-text {
    margin-bottom: 0;
    margin-right: 115px;
  }

  .footer-agreements {
    padding-top: 70px;
  }

  .footer-policy-list {
    margin-right: 498px;
    margin-left: 122px;
  }
}
