.header {
  padding-top: 20px;
}

@media only screen and (min-width: 768px) {
  .header {
    padding-top: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    padding-top: 28px;
  }
}

@media only screen and (max-width: 767px) {
  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* Logo */

.logo {
  display: flex;
}

.desktop-logo {
  display: none;
}

@media only screen and (min-width: 768px) {
  .desktop-logo {
    display: flex;
  }

  .mobile-logo {
    display: none;
  }
}

.logo-icon {
  width: 132px;
  height: 24px;
  flex-shrink: 0;
}

/* Menu button */

.menu-btn {
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

/* Header menu */

.header-menu {
  display: flex;
}

@media only screen and (max-width: 767px) {
  .header-menu {
    position: fixed;
    top: 0;
    left: 100%;
    transform: none;
    flex-direction: column;
    justify-content: center;
    gap: 25vh;
    height: 100vh;
    width: 210px;
    padding: 72px 20px 20px;
    background-color: var(--primary-color);
    color: var(--white-color);
    z-index: 999;
    overflow-y: auto;
    transition: transform var(--tran-duration);
  }

  .header-menu.active {
    transform: translateX(-100%);
  }
}

@media only screen and (min-width: 768px) {
  .header-menu {
    justify-content: space-between;
    align-items: center;
  }
}

.header-menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .header-menu-close {
    display: none;
  }
}

/* Nav */

.nav {
  margin: auto 0;
}

@media only screen and (min-width: 768px) {
  .nav {
    margin: 0;
    color: var(--white-color);
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0;
}

@media only screen and (min-width: 768px) {
  .nav-list {
    flex-direction: row;
    gap: 6px;
    padding: 8px 34px;
    border-radius: 60px;
    background-color: var(--primary-color);
    font-size: 16px;
    line-height: 1.5;
  }
}

@media only screen and (min-width: 1440px) {
  .nav-list {
    padding: 8px 50px;
  }
}

.nav-link.active {
  border-bottom: 1px solid var(--border-color);
}

@media only screen and (min-width: 768px) {
  .nav-link {
    display: flex;
    padding: 6px 12px;
    border-radius: 30px;
  }

  .nav-link.active {
    border-bottom: none;
    background-color: var(--white-color);
    color: var(--primary-color);
  }
}

/* Social menu */

.social-menu {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .social-link {
    border-color: var(--frame-color);
    transition: background-color var(--tran-icon), color var(--tran-icon);
  }

  @media (hover: hover) {
    .social-link:hover,
    .social-link:focus {
      background-color: var(--icon-bg-color);
      color: var(--white-color);
    }
  }
}

.social-icon {
  fill: currentColor;
  opacity: 0.8;
}
