.header {
  padding-top: 20px;
}

@media only screen and (min-width: 768px) {
  .header {
    padding-top: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* @media only screen and (min-width: 768px) {
  .header-wrapper {
    gap: 80px;
  }
} */

/* @media only screen and (min-width: 1440px) {
  .header-wrapper {
    padding-top: 28px;
  }
} */

.logo {
  display: flex;
}

.desktop-logo {
  display: none;
}

@media only screen and (min-width: 768px) {
  .desktop-logo {
    display: block;
  }

  .mobile-logo {
    display: none;
  }
}

.logo-icon {
  width: 132px;
  height: 24px;
  flex-shrink: 0;
}

.menu-btn {
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

/* Header menu */

.header-menu {
  display: flex;
}

@media only screen and (max-width: 767px) {
  .header-menu {
    position: fixed;
    top: 0;
    left: 100%;
    transform: none;
    flex-direction: column;
    justify-content: center;
    gap: 25vh;
    height: 100vh;
    width: 210px;
    padding: 72px 20px 20px;
    background-color: var(--primary-color);
    color: var(--white-color);
    z-index: 999;
    overflow-y: auto;
    transition: transform var(--tran-duration);
  }

  .header-menu.active {
    transform: translateX(-100%);
  }
}

@media only screen and (min-width: 768px) {
  .header-menu {
    justify-content: space-between;
    align-items: center;
  }
}

.header-menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .header-menu-close {
    display: none;
  }
}

/* Nav */

.nav {
  margin: auto 0;
}

@media only screen and (min-width: 768px) {
  .nav {
    margin: 0;
    color: var(--white-color);
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  line-height: 1.28;
}

@media only screen and (min-width: 768px) {
  .nav-list {
    flex-direction: row;
    gap: 6px;
    padding: 8px 34px;
    border-radius: 60px;
    background-color: var(--primary-color);
    font-size: 16px;
    line-height: 1.5;
  }
}

.nav-link.active {
  border-bottom: 1px solid var(--border-color);
}

@media only screen and (min-width: 768px) {
  .nav-link {
    display: flex;
    padding: 6px 12px;
    border-radius: 30px;
  }

  .nav-link.active {
    border-bottom: none;
    background-color: var(--white-color);
    color: var(--primary-color);
  }
}

/* Social menu */

.social-menu {
  display: flex;
  justify-content: center;
  gap: 12px;
}

/* @media only screen and (max-width: 767px) {
  .socials {
    display: none;
  }
} */

/* @media (max-width: 767px) {
  .menu-wrapper .social-icon-li {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 767px) {
  .footer .social-icon-li {
    width: 40px;
    height: 40px;
  }
} */

/* .footer .social-icon-link,
.menu-wrapper .social-icon-link {
  border: 1px solid var(--title-color);
} */

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}

@media only screen and (min-width: 768px) {
  .social-link {
    border-color: var(--frame-color);
  }
}

.social-icon {
  fill: currentColor;
  opacity: 0.8;
}

/*
.social-icon-link:hover,
.social-icon-link:focus {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 1px solid transparent;
  transition: all var(--tran-icon);
}

.menu-wrapper .social-icon-link:hover,
.menu-wrapper .social-icon-link:focus,
.footer .social-icon-link:hover,
.footer .social-icon-link:focus {
  background-color: var(--white-color);
  color: var(--primary-color);
  transition: all var(--tran-icon);
} */

/* toggle-bar */
/* @media (min-width: 1440px) { */
/* .toggle-bar {
    padding: 8px 50px;
  }
}

.toggle-bar .nav-link {
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-color);
}

.homepage .toggle-bar .home-nav-link,
.favorites .toggle-bar .fav-nav-link {
  color: var(--primary-color);
  background-color: var(--white-color);
  border-radius: 30px;
} */
