/* General styles for modal */
body.modal-open {
    overflow: hidden;
}

.backdrop {
    position: fixed;
    inset: 0;
    background-color: var(--modal-backdrop);
    transition-property: opacity;
    transition: var(--tran-fast);
    overflow: auto;
}

/* #region Modal */
.modal {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px 20px;
    background-color: var(--primary-color);
    border-radius: 20px;
    max-width: 335px;
    min-width: 320px;
    color: var(--white-color);
    transition-property: all;
    transition: var(--tran-fast);
}

@media screen and (min-width: 768px) {
    .modal {
        display: flex;
        gap: 32px;
        padding: 32px;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        min-width: 704px;
        max-width: 704px;
    }
}

@media screen and (min-width: 1440px) {
    .modal {
        min-width: 708px;
        max-width: 708px;
    }
}

/* Close button */
.btn-modal-close {
    position: absolute;
    top: 14px;
    right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 24px;
    height: 24px;
}

@media screen and (min-width: 768px) {
    .btn-modal-close {
        width: 28px;
        height: 28px;
    }
}

.icon-modal-close {
    width: 100%;
    height: 100%;
    fill: var(--white-color);
    stroke: var(--white-color);
}

/* Exercise image */
.img-modal-exercise {
    object-fit: cover;
    border-radius: 12px;
    width: 100%;
    height: 259px;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .img-modal-exercise {
        width: 270px;
        margin: 0;
    }
}

.modal-info {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .modal-info {
        width: 338px;
    }
}

@media screen and (min-width: 1440px) {
    .modal-info {
        width: 342px;
    }
}

/* Titla if exercise */
.title-modal {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .title-modal {
        font-size: 24px;
        line-height: 1.33333;
        margin-bottom: 8px;
    }
}

/* Rating */
.rating {
    position: relative;
    display: flex;
    gap: 2px;
    padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .rating {
        padding-bottom: 16px;
    }
}

.rating-value {
    font-size: 12px;
}

.rating-stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.icon-modal-star {
    fill: var(--rating-color);
}


/* Stats */
.stats {
    position: relative;
    padding: 10px 0;
}

@media screen and (min-width: 768px) {
    .stats {
        padding: 8px 0;
    }
}

.stats-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    .stats-list {
        gap: 16px;
    }
}

.stats-title {
    font-size: 12px;
    color: var(--title-color);
    margin-bottom: 4px;
}

.stats-value {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    color: var(--white-color);
}

/* Description */
.description {
    padding-top: 20px;
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .description {
        padding-top: 16px;
        margin-bottom: 64px;
    }
}

.desc-text {
    line-height: 1.28571;
    font-size: 14px;
    color: var(--text-secondary-color);
}

.title-modal::first-letter,
.stats-title::first-letter,
.stats-value::first-letter,
.desc-text::first-letter {
    text-transform: uppercase;
}

/* Add to favourite btn */
.modal-buttons {
    min-width: 100%;
    justify-content: right;
}

@media screen and (min-width: 768px) {
    .modal-buttons {
        display: flex;
        gap: 7px;
    }
}

.btn-modal-filled {
    border-radius: 30px;
    padding: 12px 24px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 14px;
    line-height: 1.28571;
}

@media screen and (min-width: 768px) {
    .btn-modal-filled {
        font-size: 16px;
        line-height: 1.5;
    }
}

.btn-modal-filled:hover {
    background-color: transparent;
    color: var(--white-color);
    outline: 1px solid var(--white-color);
}

.btn-modal-add-fav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin-bottom: 10px;
    transition: var(--tran-fast);
    transition-property: all;
}

.btn-modal-add-fav:hover>.icon-fav-btn {
    stroke: var(--white-color);
}

@media screen and (min-width: 768px) {
    .btn-modal-add-fav {
        margin: 0;
    }
}

.btn-fav-text {
    text-wrap: nowrap;
    font-size: inherit;
    line-height: inherit;
}

@media screen and (min-width: 768px) {
    .btn-fav-text {
        font-size: 16px;
        line-height: 1.5;
    }
}

.icon-fav-btn {
    fill: none;
    stroke: var(--primary-color);
}

@media screen and (min-width: 768px) {
    .icon-fav-btn {
        width: 20px;
        height: 20px;
    }
}

/* Give a rating btn */
.btn-modal-give-rating {
    width: 100%;
    border-radius: 30px;
    padding: 12px 22px;
    background-color: transparent;
    outline: 1px solid var(--white-color);
    color: var(--white-color);
    font-size: 14px;
    line-height: 1.28571;
    text-wrap: nowrap;
    transition: var(--tran-fast);
    transition-property: all;
}

.btn-modal-give-rating:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
}

@media screen and (min-width: 768px) {
    .btn-modal-give-rating {
        font-size: 16px;
        line-height: 1.5;
    }
}

@media screen and (min-width: 1440px) {
    .btn-modal-give-rating {
        padding: 12px 24px;
    }
}
/* #endregion Modal */

/* #region RatingModal */
.add-rating-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 335px;
    width: 100%;
    min-width: 320px;
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 40px 20px;
    transition-property: opacity;
    transition: var(--tran-fast);
}

@media screen and (min-width: 768px) {
    .add-rating-modal {
        max-width: 430px;
        padding: 40px;
    }
}

.add-rating-title {
    font-size: 12px;
    color: var(--title-color);
    margin-bottom: 8px;
}

.add-rating-value {
    font-size: 12px;
    color: var(--white-color);
    text-align: center;
    vertical-align: middle;
    width: 10px;
}

.add-rating-stars {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .add-rating-stars {
        margin-bottom: 32px;
    }
}

.star-radio-btn {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.icon-modal-rating-star {
    fill: var(--rating-color);
}

.input-modal {
    color: var(--text-secondary-color);
    font-size: 14px;
    line-height: 1.28571;
    background-color: transparent;
    border: 1px solid var(--white-color);
    border-radius: 30px;
    padding: 12px 14px;
    width: 100%;
    outline: none;
}

@media screen and (min-width: 768px) {
    .input-modal {
        font-size: 16px;
        line-height: 1.5;
    }
}

.input-modal:focus {
    outline: 1px solid var(--white-color);
}

.input-modal::placeholder {
    color: var(--text-secondary-color);
}

.add-rating-email{
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .add-rating-email {
        margin-bottom: 16px;
    }
}

.add-rating-comment {
    resize: none;
    height: 93px;
    margin-bottom: 20px;
    border-radius: 15px;
}

@media screen and (min-width: 768px) {
    .add-rating-comment {
        margin-bottom: 32px;
    }
}

.btn-add-rating-submit{
    width: 100%;
    transition: var(--tran-fast);
    transition-property: all;
}
/* #endregion RatingModal */

.divider::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--rating-color);
}

/* Stars filled */
.icon {
    transition-property: fill;
    transition: var(--tran-fast);
}
.gold-half {
    fill: url(#star-gradient) var(--rating-color);
}

.gold {
    fill: var(--accent-color);
}
